.postcard-inner {
    background-color: lightslategrey;
}

#postcard-textarea {
    background-color: lightcoral;
}

#postcard-image-area {
    background-color: lightgreen;
}

#postcard-image {
    width: 286px;
    height: 286px;
}

#postcard {
    width: 920px;
    height: 480px;
    background-color: lightskyblue;
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 1fr;
}

#illustration-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 24px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.illustration-image {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}