@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

/* .postcard-inner {
    background-color: lightslategrey;
}

#postcard-textarea-top {
    background-color: lightcoral;
}

#postcard-image-area {
    background-color: lightgreen;
} */


#postcard {
    border: solid 1px lightseagreen;
    width: 480px;
    height: 680px;
    background-color: white;
    display: grid;
    padding: 16px;
    grid-template-rows: 1fr 3fr 1fr;
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

.postcard-text {
    font-size: larger;
}

.postcard-text:focus {
    outline-style: dashed;
    outline-color: lightseagreen;
    outline-width: 2px;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}